
@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1498021486751'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1498021486751#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1498021486751') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1498021486751') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1498021486751#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  color: #ddd;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e60a"; }

.icon-shopping-empty:before { content: "\e604"; }

.icon-set:before { content: "\e737"; }

.icon-merchant:before { content: "\e600"; }

.icon-org-struct:before { content: "\e67f"; }

.icon-editor:before { content: "\e613"; }

.icon-down:before { content: "\e607"; }

.icon-user:before { content: "\e641"; }

.icon-health-wine:before { content: "\e6a5"; }

.icon-liquor-wines2:before { content: "\e621"; }

.icon-plus-sign:before { content: "\e602"; }

.icon-message:before { content: "\e605"; }

.icon-success:before { content: "\e608"; }

.icon-shopping-car:before { content: "\e648"; }

.icon-other-wine:before { content: "\e75f"; }

.icon-password:before { content: "\e609"; }

.icon-account:before { content: "\e615"; }

.icon-inspector:before { content: "\e62a"; }

.icon-collection:before { content: "\e606"; }

.icon-order:before { content: "\e612"; }

.icon-upload-img:before { content: "\e61f"; }

.icon-liquor:before { content: "\e60f"; }

.icon-rice-wine:before { content: "\e614"; }

.icon-foreign-wine:before { content: "\e70e"; }

.icon-aggregate:before { content: "\e690"; }

.icon-indent:before { content: "\e64f"; }

.icon-wines:before { content: "\e622"; }

.icon-me:before { content: "\e649"; }

.icon-beer:before { content: "\e623"; }

.icon-notice:before { content: "\e6df"; }

.icon-message-null:before { content: "\e6da"; }

.icon-correct:before { content: "\e633"; }

.icon-collect:before { content: "\e634"; }

.icon-no-affect:before { content: "\e64c"; }

.icon-pay-pass:before { content: "\e611"; }

.icon-present:before { content: "\e617"; }

.icon-service:before { content: "\e61b"; }

.icon-expire:before { content: "\e620"; }

.icon-mall:before { content: "\e652"; }

.icon-ok:before { content: "\e601"; }

.icon-already-use:before { content: "\e60b"; }

.icon-c:before { content: "\e629"; }

.icon-menu-message:before { content: "\e7c0"; }

.icon-down-app:before { content: "\e610"; }

.icon-phone:before { content: "\e6f3"; }

.icon-fail:before { content: "\e603"; }

.icon-coupon:before { content: "\e60c"; }

.icon-alipay:before { content: "\e625"; }

.icon-updata:before { content: "\e63f"; }

.icon-internet:before { content: "\e626"; }

.icon-supplier-manage:before { content: "\e919"; }

.icon-menu:before { content: "\e624"; }

.icon-reduction:before { content: "\e61e"; }

.icon-liquor-all:before { content: "\e60e"; }

.icon-pending:before { content: "\e618"; }

.icon-audit-failure:before { content: "\e60d"; }

.icon-store:before { content: "\e733"; }

.icon-wine:before { content: "\e654"; }

.icon-wechat-pay:before { content: "\e796"; }

.icon-err:before { content: "\e644"; }

.icon-manage:before { content: "\e616"; }

.icon-certification:before { content: "\e61c"; }

